<div id="page_wrapper">

<%= form_for @user do |f| %>

  <% if @user.errors.any? %>
    <div id="errors">
    <!-- pluralize is for anyting past a count of 1 it will automatically pluralize it or it will just be errlr -->
      <h2><%= pluralize(@user.errors.count, "error") %> prevented this user from saving</h2>
      <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <%end%>
      </ul>
    </div>
  <%end%>

    <p>
      <%= f.label :username %>
      <%= f.text_field :username, placeholder: "username" %>
    </p>

    <p>
      <%= f.label :email %>
      <%= f.text_field :email, placeholder: "email" %>
    </p>

     <p>
      <%= f.label :password %>
      <%= f.password_field :password, placeholder: "password" %>
    </p>

     <p>
      <%= f.submit %>
    </p>

  <% end %>

  </div>