<div id="post_content">
  <h1 class="title"><%= @post.title %></h1>

  <p class="date">
    Submitted <%= time_ago_in_words(@post.created_at) %> Ago | <%= link_to 'Edit', edit_post_path(@post) %>  | <%= link_to 'Delete', post_path(@post), method: :delete, data: {confirm: 'Are you sure?'} %>
  </p>

  <p  class="body"><%= @post.body %>
  </p>

  <div id="comments">
    <!-- grabbing the _commnets.html.erb -->
    <h2><%= @post.comments.count %> Comments</h2>
    <%= render @post.comments %>

    <!-- grabbing the _form.html.erb -->
    <h3>Add A Comment:</h3>
    <%= render "comments/form" %>
  </div>
</div>